*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #f70058;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 1fr ;
}

body {
    font-family: 'Work Sans', sans-serif; 
    font-size: 1.125rem;
    color: var(--clr-dark);
    list-style: 1.6;
    background: gray;
}

h1, h2, h3 {line-height: 1 ;}

.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: .5em 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: var(--clr-bold);
    margin-bottom: .75em;
}

.btn--primary {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.btn--primary:hover {
    background-color: var(--clr-light);
}

.btn-outline {
    outline: 3px solid var(--clr-primary);
    outline-offset: -3px;
    color:var(--clr-primary);
}

.btn-outline:hover {
    background: var(--clr-dark);
    outline-color: var(--clr-dark);
    color: var(--clr-light);
}

header {
    background-color: var(--clr-light);
    text-align: center;
}

.logo {
  margin-top: 1em;  
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    list-style: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}

.nav__link {
    text-decoration: none;
    color: indianred;
}

.weather {
    display: grid;
    grid-template-columns: max-content, 1fr;
    background: var(--clr-dark);
    color: var(--clr-light);
}

.weather__icon {
    grid-row: span 2;
    background-color: var(--clr-primary);
    padding: .5em;
    display: flex;
}

.weather__info {
    margin: 0;
    margin-left: .75rem;
    text-align: left;
    opacity: .5;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: var(--fw-bold );
    letter-spacing: 1px;
    font-size: .75rem;
    display: flex;
    align-items: center;
}

.weather__info span {
    opacity: var(--clr-light);
    margin-left: auto;
    margin-right: .75rem;
    font-size: 1rem;
    text-transform: none;
}

.weather__info:first-of-type {
    margin-bottom: .5rem;
    margin-bottom: .5rem;
    position: relative;
}

.weather__info:first-of-type::after {
    content: '';
    position: absolute;
    background: var(--clr-light);
    opacity: .25;
    height: 2px;
    width: calc(100% - .75rem);
    bottom: -.25rem;
}

.weather__info:last-of-type {
    margin-bottom: .5rem;
}

.main {
    padding: 3em 1em;
}

.main--ski {
    background-image: url(../img/sebastian-staines-xZIFEPtRsRI-unsplash\ 1.jpg);
    background-size: cover;
}

.main__title {
    line-height: 1;
    font-weight: var(--fw-black);
    font-size: 3rem;
}